    <!--<div id="preloader">
        <div class="devdap-load"></div>
    </div> -->

    <header class="header_area animated">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12 col-lg-10">
                    <div class="menu_area">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="#">PlayApp</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="ca-navbar">
                                <ul class="navbar-nav ml-auto" id="nav">
                                    <li class="nav-item active"><a class="nav-link" href="#home">Inicio</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#about">Estrategia</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#features">Caracteristicas</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#pricing">Precios</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#testimonials">Testimonios</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#investors">Quienes somos</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#contact">Contactenos</a></li>
                                </ul>
                                <div class="sing-up-button d-lg-none">
                                    <a href="https://playapp-419eb.firebaseapp.com/">Ingresar</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- Signup btn -->
                <div class="col-12 col-lg-2">
                    <div class="sing-up-button d-none d-lg-block">
                        <a href="https://playapp-419eb.firebaseapp.com/">Ingresar</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
