.container {
    border: 1px solid #eee;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
}

textarea {
    resize: horizontal; /* user can resize vertically, but width is fixed */
    width: 100%;
    max-width: 500px;
}
