

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout-Login.cshtml";
}

@*<iframe width="100%" height="400" src='https://webchat.botframework.com/embed/PlayApp-SegurosBeta?s=q2TePPfHihA.cwA.Zhk.R4owpsDJ23H-1KaDkgHHvyc_nEJ9hVA8GERzynszbNQ'></iframe>*@

@*<iframe width="100%" height="300" src="https://webchat.botframework.com/embed/PlayApp-SegurosBeta?s=q2TePPfHihA.cwA.Zhk.R4owpsDJ23H-1KaDkgHHvyc_nEJ9hVA8GERzynszbNQ"></iframe>*@



@*<span class="skype-button bubble" data-text="🗨️ PlayApp" data-bot-id="f7104e1b-af98-4d6f-81d9-62a6796625aa"></span>
<script src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>*@

